.emotionBox {
  display: grid;
  grid-template-columns: 210px 1fr;
  align-items: center;

  padding: 10px;
  margin: 40px;

  background-image: linear-gradient(to right, #ffffff, #ff94db);
  border-radius: 10px;

  color: #000000;
  font-size: 1.2rem;
}

.emotionBox img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 10px 0 0 10px;
}

.emotionContent {
  padding: 0 10px;
}

.emotionContent .title {
  text-transform: capitalize;
}

@media (max-width:900px) {
  .emotionBox {
    margin: 20px 10px;
    font-size: 0.8rem;

    grid-template-columns: 110px 1fr;
  }

  .emotionBox img {
    width: 100px;
    height: 100px;
  }
}

